.contenedor-principal {
  width: 100%;
  padding: 0 20px;
}

.contenedor-perfil {
  width: calc(100% - 40px); /* Calculamos el ancho restando el doble del margen */
  height: 300px;
  display: flex;
  background-color: papayawhip;
  margin: 10px auto 30px; /* Añadimos margen arriba y abajo, y auto para centrar */
  justify-content: center;
}

.imagen-perfil {
  height: 100%;
  width: auto;
}

.contenedor-texto-perfil {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.5rem;
  padding-bottom: 25px;
  width: 80%;
  margin: 0 auto;
}

.nombre-perfil {
  font-size: 2rem;
}

.cargo-perfil {
  font-size: 1rem;
  margin-top: 10px;
}

.texto-perfil {
  font-size: 1rem;
}

button {
  background-color: #45b39d;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
